





PORT=4000
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9yaXN4ZmZ6a3pva2hnZGpscGlhIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MzgwNDMzNSwiZXhwIjoyMDg5MzgwMzM1fQ.Men8u2erKl6ZG9jbi_4FvlnRCPNeOVaBlVohm-ymJAs
BACKEND_API_KEY=Wp8KIcRKAQfogUfUFmb774Q+PhElTT2sPTXa0FeEIIo=
